element.style {
    border: 0px;
    width: 16px;
    height: 16px;
    margin-top: 4px;
}
.nhanvien .img {
    float: left;
    width: 64px;
    height: 64px;
    margin: 0px 5px 0px 0px;
}
img {
    border: 3px #ccc solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
div {
    display: block;
}

.nhanvien {
    background: #F7F7F7;
    display: inline-block;
    width: 97%;
    text-align: left;
    padding: 1px 2px 8px 5px;
    border-bottom: 1px #ccc solid;
    color: #333;
    margin-bottom: 8px;
}
body {
    background: #fff;
    font-size: 15px;
    margin: 0px;
    word-wrap: break-word;
    overflow: none;
    color: #666;
    line-height: 24px;
}
Style Attribute {
    font-size: 18px;
    color: black;
    font-weight: bold;
}
#hopchat {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    text-align: left;
}
form {
    display: block;
    margin-top: 0em;
}
audio {
    width: 300px;
    height: 54px;
}
audio:not([controls]) {
    display: none !important;
}